{{#if content.isLoaded}}
{{!-- <table id="builds" class="list"> --}}
  {{#each controller as |build|}}
    {{builds-item build=build}}
  {{/each}}
  {{#if displayShowMoreButton}}
    <p>
      {{view 'show-more-button'}}
      {{#if isLoading}}
        <span class="sync-spinner sync-spinner--grey"><i></i><i></i><i></i></span>
      {{/if}}
    </p>
  {{/if}}
{{else}}
  <span class="sync-spinner sync-spinner--grey"><i></i><i></i><i></i></span>
{{/if}}
